

.list{
    p{
        width: 100%;
        opacity: .5;
        text-align: center;
        font-size: .8em;
    }
}

.itembox{
    animation: init .3s both;

    .itemlabel{
        p{
            margin-top: 8px;
            opacity: .5;
            font-size: .7em;
        }
    }
}

.animation{
    animation: init .3s both;
}


@keyframes init {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}