.ionmodal{
    .iontitle{
        font-family: 'Montserrat', sans-serif !important;
        letter-spacing: 1px;
    }
    
    .ioncontent{
        font-family: 'Montserrat', sans-serif !important;

        .ionitem{
            animation: init .3s both;
            position: relative;
            background-color: white;
            border-radius: 8px;
            margin-top: 10px;

            .line{
                transition: .3s;
                position: absolute;
                top: 30%;
                left: 12%;
                height: 1px;
                background-color: #222222c2;
                content: '.';
            }
        }
    }
}

@keyframes init {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}