@import '../../theme/variables.css';

.container{
   animation: init .4s .3s both;
   display: flex;
   margin-left: 5%;
   align-items: center;
   width: 95%;
   height: 7vh;
   font-size: 1.6em;
   font-weight: 500;
   letter-spacing: 2px;
   font-family: 'Montserrat', sans-serif !important;
}

@keyframes init {
   0%{
      opacity: 0;
      transform: translateX(-100px);
   }

   100%{
      opacity: 1;
      transform: translateX(0);
   }
}