
.container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: 85vh;
   
   .persons{
      animation: init .5s .2s both;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;
      height: 63vh;
      max-height: 63vh;
      margin-bottom: 5%;
      margin-top: 5%;

      .empty{
         font-family: 'Montserrat', sans-serif !important;
         font-weight: 200;
      }
   }

   .calcular, .cacular_dis{
      animation: init .5s .5s both;
      transition: .2s;
      width: 100%;
      height: 7vh;
      font-size: 1rem;
      margin-top: 2em;
      font-family: 'Montserrat', sans-serif !important;
      font-weight: 600;
      color: #222222;
      background-color: rgba(255, 255, 255, 0.975);

      &:active{
         transition: .1s;
         background-color: rgba(255, 255, 255, 0.615);
      }
   }

   .cacular_dis{
      transition: .2s;
      background-color: rgba(255, 255, 255, 0.561);
      color: #2222226f;
   }
}

.modal{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   height: 100%;

   .transactions{
      width: 100%;

      h3{
         font-size: 1.2rem;
         margin-bottom: 1rem;
         font-family: 'Montserrat', sans-serif !important;
      }

      p{
         font-size: .9rem;
         font-family: 'Montserrat', sans-serif !important;
      }
   }

}

@keyframes init {
   0%{
      opacity: 0;
      transform: translateX(100px);
   }
   100%{
      opacity: 1;
      transform: translateX(0);
   }
}