
.container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   
   .persons{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow-y: scroll;
      width: 100%;
      height: 55vh;
      margin-bottom: 5%;
      margin-top: 5%;
   }

   .formulario{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 20%;

      .input{
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-inline: 2em;
         margin-top: 10px;

         span{
            width: 20%;
            font-family: 'DM Sans', sans-serif !important;
         }
   
         input{
            width: 80%;
            color: black;
            padding: 1em;
            height: 3em;
            font-size: .8em;
            margin-left: 12.5px;
            border-radius:5px;
            font-family: 'DM Sans', sans-serif !important;
         }
      }
      
      button{
         transition: .1s;
         background-color: rgba(255, 255, 255, 0.975);
         padding: .7em;
         width: 18%;
         margin-left: 15px;
         margin-top: 20px;
         border-radius: 5px;
         font-family: 'DM Sans', sans-serif !important;

         &:active{
            transition: .1s;
            background-color: rgba(255, 255, 255, 0.615);
         }

         &:disabled{
            transition: .1s;
            color: #222222c4;
            background-color: rgba(255, 255, 255, 0.615);
         }
      }
   }

   .calcular, .cacular_dis{
      animation: init .5s .5s both;
      transition: .2s;
      width: 100%;
      height: 3em;
      font-size: 1.2em;
      margin-top: 2em;
      font-family: 'DM Sans', sans-serif !important;
      font-weight: 800;
      color: #222222;
      background-color: rgba(255, 255, 255, 0.975);

      &:active{
         transition: .1s;
         background-color: rgba(255, 255, 255, 0.615);
      }
   }

   .cacular_dis{
      transition: .2s;
      background-color: rgba(255, 255, 255, 0.561);
      color: #2222226f;
   }
}

.modal{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   height: 100%;

   .transactions{
      width: 100%;

      h3{
         margin-bottom: 20px;
         font-family: 'DM Sans', sans-serif !important;
      }
   }
}


@keyframes init {
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
      transform: translateX(0);
   }
}