.list {
    p {
        width: 100%;
        opacity: .5;
        text-align: center;
        font-size: .8rem;
    }
}

.itemBox {
    animation: init .3s both;

    .itemLabel {
        p {
            margin-top: 8px;
            opacity: .5;
            font-size: .7rem;
        }
    }
}

.animation {
    animation: init .3s both;
}

@keyframes init {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
